@import "tailwindcss";


:root {
  --background: oklch(0.985 0.004 182.49);
  --foreground: oklch(0.21 0.03 182.49);
  --primary: oklch(0.6412 0.1087 182.49);
  --primary-foreground: oklch(0.985 0.01 182.49);
  --secondary: oklch(0.95 0.018 182.49);
  --secondary-foreground: oklch(0.30 0.03 182.49);
  --muted: oklch(0.96 0.010 182.49);
  --muted-foreground: oklch(0.55 0.022 182.49);
  --accent: oklch(0.92 0.035 182.49);
  --accent-foreground: oklch(0.30 0.04 182.49);
  --border: oklch(0.91 0.014 182.49);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.20 0.02 182.49);
    --foreground: oklch(0.95 0.012 182.49);
    --primary: oklch(0.72 0.12 182.49);
    --primary-foreground: oklch(0.20 0.02 182.49);
    --secondary: oklch(0.27 0.022 182.49);
    --secondary-foreground: oklch(0.93 0.012 182.49);
    --muted: oklch(0.27 0.018 182.49);
    --muted-foreground: oklch(0.70 0.022 182.49);
    --accent: oklch(0.31 0.04 182.49);
    --accent-foreground: oklch(0.94 0.015 182.49);
    --border: oklch(0.30 0.022 182.49);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.yoopta-editor {
  color: var(--foreground);
  background-color: var(--background);
}

.yoopta-slate {
  outline: none;
}

.yoopta-block {
  position: relative;
  margin: 2px 0;
}

.yoopta-block::before {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--color-primary);
  transition: opacity 200ms;
  opacity: 0;
  pointer-events: none;
}

.yoopta-block[data-block-selected='true']::before {
  content: '';
  background-color: var(--color-primary);
  opacity: 100;
  transition: opacity 200ms;
}

/* Placeholder */
.yoopta-placeholder {
  position: relative;
}

.yoopta-placeholder::before {
  color: var(--foreground);
  content: attr(data-placeholder);
  left: 4px;
  opacity: .4;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  white-space: nowrap;
  font-size: 75%;
}